* {
  text-decoration: none !important;
}

body {
  text-align: center;
  background-color: red;
  margin: 0;
}

.h-tags {
  padding: 1.5rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-size: 1.5rem;
  line-height: 0.4;
}

#main-div {
  margin: auto;
  width: 50%;
}

.outer-entry {
  height: 70%;
  min-width: 1500px;
  /* overflow: scroll; */
  overflow-x: hidden;
  border: solid #171d7a 0.1rem;
  position: relative;
  background: rgb(245, 245, 245);
  box-shadow: 15px 15px rgba(0, 0, 0, 0.15);
  transition: all 0.4s ease;
  border-radius: 12px;
}

.entry-div {
  padding: 1rem;
  border-bottom: solid #171d7a 0.2rem;
  text-align: center;
  width: 100%;
}

.description {
  font-size: 1.5rem;

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

#description-id {
  height: 20%;
  width: 95%;
}
/* .entry-contents {
  display: flex; 
  justify-content: space-between;
} */

.form-div {
  max-width: 70%;
  padding: 20px 12px 10px 20px;
  font: 13px Arial, Helvetica, sans-serif;
}

.form-div label {
  display: block;
  margin: 0px 0px 15px 0px;
}

label {
  font-weight: bold;
  font-style: italic;
  border-bottom: 2px solid #ddd;
  margin-bottom: 20px;
  font-size: 15px;
  padding-bottom: 3px;
}

.entryForm {
  margin: 1rem;
  border: solid #171d7a 0.1rem;
  background: rgb(245, 245, 245);
  width: 125%;
  border-radius: 8px;
}

.create-btn {
  background: rgba(0, 255, 13, 0.808);
  color: white;
  padding: 10px 24px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.create-btn:hover {
  background-color: whitesmoke;
  color: #323792;
}

.form-items {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #c2c2c2;
  box-shadow: 1px 1px 4px #ebebeb;
  -moz-box-shadow: 1px 1px 4px #ebebeb;
  -webkit-box-shadow: 1px 1px 4px #ebebeb;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  padding: 7px;
  outline: none;
  margin: 1rem;
}

.category-input {
  width: 250px;
  height: 25px;
}

.header {
  padding: 0.5%;
  text-align: center;
  background-color: rgba(0, 255, 13, 0.808);
  color: white;
  font-size: 30px;
  font-family: 'Mountains of Christmas', cursive;
  text-decoration: none;
  background-image: linear-gradient(to bottom, whitesmoke, red);
}

.header:hover {
  text-decoration: none;
}

.delete-btn {
  background: red;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.update-btn {
  background: green;
  color: whitesmoke;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Ar;
}
.update-btn:hover {
  background-color: red;
  color: whitesmoke;
  text-decoration: none;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: green;
  color: whitesmoke;
  text-decoration: none;
  cursor: pointer;
}

.delete-btn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.main-div {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

/* .entry-container {
  width: auto;
  height: auto;
} */

.homeStyle {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  margin-top: 10%;
}

#loginbtn {
  background-color: green;
  color: white;
  border-radius: 12px;
  padding: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-size: large;
  font-family: 'Mountains of Christmas', cursive;
}
#loginbtn2 {
  background-color: green;
  color: white;
  border-radius: 12px;
  font-size: large;
  margin-left: 5px;
  font-family: 'Mountains of Christmas', cursive;
}
#loginbtn2:hover {
  cursor: hand;
}

#loginbtn:hover {
  cursor: hand;
}

#signupbtn {
  background-color: green;
  color: white;
  border-radius: 12px;
  padding: 1rem;
  font-size: large;
  font-family: 'Mountains of Christmas', cursive;
}

#signupbtn:hover {
  cursor: hand;
}

.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial;
  text-shadow: 0 0 1px #000;
}

@-webkit-keyframes snowflakes-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}
@-webkit-keyframes snowflakes-shake {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@keyframes snowflakes-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}
@keyframes snowflakes-shake {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(80px);
  }
  100% {
    transform: translateX(0px);
  }
}
.snowflake {
  position: fixed;
  top: -10%;
  z-index: 9999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  -webkit-animation-name: snowflakes-fall, snowflakes-shake;
  -webkit-animation-duration: 10s, 3s;
  -webkit-animation-timing-function: linear, ease-in-out;
  -webkit-animation-iteration-count: infinite, infinite;
  -webkit-animation-play-state: running, running;
  animation-name: snowflakes-fall, snowflakes-shake;
  animation-duration: 10s, 3s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-play-state: running, running;
}
.snowflake:nth-of-type(0) {
  left: 1%;
  -webkit-animation-delay: 0s, 0s;
  animation-delay: 0s, 0s;
}
.snowflake:nth-of-type(1) {
  left: 10%;
  -webkit-animation-delay: 1s, 1s;
  animation-delay: 1s, 1s;
}
.snowflake:nth-of-type(2) {
  left: 20%;
  -webkit-animation-delay: 6s, 0.5s;
  animation-delay: 6s, 0.5s;
}
.snowflake:nth-of-type(3) {
  left: 30%;
  -webkit-animation-delay: 4s, 2s;
  animation-delay: 4s, 2s;
}
.snowflake:nth-of-type(4) {
  left: 40%;
  -webkit-animation-delay: 2s, 2s;
  animation-delay: 2s, 2s;
}
.snowflake:nth-of-type(5) {
  left: 50%;
  -webkit-animation-delay: 8s, 3s;
  animation-delay: 8s, 3s;
}
.snowflake:nth-of-type(6) {
  left: 60%;
  -webkit-animation-delay: 6s, 2s;
  animation-delay: 6s, 2s;
}
.snowflake:nth-of-type(7) {
  left: 70%;
  -webkit-animation-delay: 2.5s, 1s;
  animation-delay: 2.5s, 1s;
}
.snowflake:nth-of-type(8) {
  left: 80%;
  -webkit-animation-delay: 1s, 0s;
  animation-delay: 1s, 0s;
}
.snowflake:nth-of-type(9) {
  left: 90%;
  -webkit-animation-delay: 3s, 1.5s;
  animation-delay: 3s, 1.5s;
}

h1 {
  font-family: 'Mountains of Christmas', cursive;
  color: whitesmoke;
}

#labelcss {
  margin-right: 5px;
  margin-left: 5px;
  text-decoration: none !important;
  font-family: 'Mountains of Christmas', cursive;
  color: whitesmoke;
}

#textcss {
  font-family: 'Mountains of Christmas', cursive;
  color: whitesmoke;
  font-size: larger;
}

#signupbtn2 {
  background-color: green;
  color: white;
  border-radius: 12px;
  margin-top: 10px;
  font-size: large;
  margin-left: 5px;
  font-family: 'Mountains of Christmas', cursive;
}
#signupbtn2:hover {
  cursor: hand;
}

#labelcssemail {
  margin-right: 20px;
  margin-left: 12px;
  text-decoration: none !important;
  font-family: 'Mountains of Christmas', cursive;
  color: whitesmoke;
}
